<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script> 
    <title>Music Playlist Manager</title>
</head>
<body>
    <div class="container">
        <h1>Music Playlist</h1>
        <table class="song-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Duration</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                    <tr>
                        <td>{{ song.title }}</td>
                        <td>{{ song.artist }}</td>
                        <td>{{ song.duration }}</td>
                        <td>
                            <form action="/edit_song/{{ song.id }}" method="GET">
                                <button type="submit" class="manage-button edit-button">Edit</button>
                            </form>
                            <form action="/delete_song/{{ song.id }}" method="POST" onsubmit="return confirmDelete('{{ song.title }}');">
                                <button type="submit" class="manage-button delete-button">Delete</button>
                            </form>
                        </td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
        <a class="song-button" href="/add_song">New Song</a>
    </div>
</body>
</html>